<header>
  <a class="header-logo" href="/"><img src="path/to/logo.png" alt="Logo"></a>
  <nav class="header-nav">
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" href="/adopt">Quero adotar</a></li>
      <li class="nav-item"><a class="nav-link" href="/promote">Quero divulgar</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">Sobre</a></li>
    </ul>
  </nav>
  <div class="auth-links">
    <a class="auth-link" href="/login">Login</a>
    <a class="auth-link" href="/register">Cadastrar</a>
  </div>
</header>