// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Primary Colors
$primary-color: #FF8964;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;

// Neutral Colors
$white-color: #ffffff;
$black-color: #000000;
$gray-light-color: #ecf0f1;
$gray-dark-color: #95a5a6;

// Additional Colors
$info-color: #FF8964;
$success-color: #2ecc71;
$warning-color: #f1c40f;
$error-color: #e74c3c;

// Fonts
$default-font: 'Inter', sans-serif;

// Font Sizes
$default-font-size: 1rem;
$small-font-size: 0.875rem;
$large-font-size: 1.5rem;

// Font Weights
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

// Spacing
$default-spacing: 1rem;
$small-spacing: 0.5rem;
$large-spacing: 2rem;

// Border Radius
$small-border-radius: 0.125rem;
$default-border-radius: 0.25rem;
$large-border-radius: 0.5rem;